// commom ( code chung )
// author: Nguyễn Sỹ Đức Thịnh ( 29/08/2022 )
* {
  padding: 0;
  margin: 0;
  font-family: "googlesans-light";
}
input {
  outline: none;
  height: 38px;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  font-size: 14px;
  padding: 0 16px;
  font-family: "googlesans-light";
}
button {
  outline: none;
  border: none;
  height: 40px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.validateInput {
  border-color: #ff4747 !important;
}
