// font family
// author: Nguyễn Sỹ Đức Thịnh ( 29/08/2022 )

@font-face {
  font-family: "googlesans-black";
  src: url("../../pages/font/GoogleSans-Black.otf") format("opentype");
}

@font-face {
  font-family: "googlesans-blackitalic";
  src: url("../../pages/font/GoogleSans-BlackItalic.otf") format("opentype");
}

@font-face {
  font-family: "googlesans-bold";
  src: url("../../pages/font/GoogleSans-Bold.otf") format("opentype");
}

@font-face {
  font-family: "googlesans-bolditalic";
  src: url("../../pages/font/GoogleSans-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "googlesans-italic";
  src: url("../../pages/font/GoogleSans-Italic.otf") format("opentype");
}

@font-face {
  font-family: "googlesans-light";
  src: url("../../pages/font/GoogleSans-Light.otf") format("opentype");
}

@font-face {
  font-family: "googlesans-lightitalic";
  src: url("../../pages/font/GoogleSans-LightItalic.otf") format("opentype");
}

@font-face {
  font-family: "googlesans-medium";
  src: url("../../pages/font/GoogleSans-Medium.otf") format("opentype");
}

@font-face {
  font-family: "googlesans-mediumitalic";
  src: url("../../pages/font/GoogleSans-MediumItalic.otf") format("opentype");
}

@font-face {
  font-family: "googlesans-regular";
  src: url("../../pages/font/GoogleSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: "googlesans-thin";
  src: url("../../pages/font/GoogleSans-Thin.otf") format("opentype");
}

@font-face {
  font-family: "googlesans-thinitalic";
  src: url("../../pages/font/GoogleSans-ThinItalic.otf") format("opentype");
}
