input[type="checkbox"] + label {
  display: block;
  margin: 0.1em;
  cursor: pointer;
  padding: 0.1em;
  font-family: "Arial";
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "\2714";
  border: 0.1em solid #000;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: 0.2s;
}
// css checkbox
input[type="checkbox"] + label:active:before {
  transform: scale(0);
}

input[type="checkbox"]:checked + label:before {
  background-color: #78d03f;
  border-color: #78d03f;
  color: #fff;
  width: 15px;
  height: 15px;
}

input[type="checkbox"]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type="checkbox"]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #f7c28f;
  border-color: #f7c28f;
}

// /*css radio*/
// [type="radio"]:checked,
// [type="radio"]:not(:checked) {
//   position: absolute;
//   left: -9999px;
// }

// [type="radio"]:checked + label,
// [type="radio"]:not(:checked) + label {
//   position: relative;
//   padding-left: 28px;
//   cursor: pointer;
//   line-height: 20px;
//   display: inline-block;
//   color: #666;
// }

// [type="radio"]:checked + label:before,
// [type="radio"]:not(:checked) + label:before {
//   content: "";
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 18px;
//   height: 18px;
//   border: 1px solid #ddd;
//   border-radius: 100%;
//   background: #fff;
// }

// [type="radio"]:checked + label:after,
// [type="radio"]:not(:checked) + label:after {
//   content: "";
//   width: 12px;
//   height: 12px;
//   background: #1d9e0b;
//   position: absolute;
//   top: 4px;
//   left: 4px;
//   border-radius: 100%;
//   -webkit-transition: all 0.2s ease;
//   transition: all 0.2s ease;
// }

// [type="radio"]:not(:checked) + label:after {
//   opacity: 0;
//   -webkit-transform: scale(0);
//   transform: scale(0);
// }

// [type="radio"]:checked + label:after {
//   opacity: 1;
//   -webkit-transform: scale(1);
//   transform: scale(1);
// }
