// employee refresh
// author: Nguyễn Sỹ Đức Thịnh ( 29/08/2022 )

.employee__listSearch {
  #employee__refresh {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    cursor: pointer;
  }
  #employee__refresh::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
  }
}
