// employee search
// author: Nguyễn Sỹ Đức Thịnh ( 29/08/2022 )
.content__employee-search {
  margin-top: 10px;

  .employee__listSearch {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 15px;
    &-item {
      position: relative;
      border: 1px solid #e1dddd;
      border-radius: 4px;
      align-items: center;
      margin-right: 10px;
      #search-manv {
        width: 280px;
        font-family: "googlesans-italic";
        font-size: 13px;
      }
      #search {
        position: absolute;
        top: 12px;
        right: 16px;
        cursor: pointer;
      }
      input {
        height: 40px;
        width: 180px;
      }
    }
  }
}
