.loading {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
#loadingIcon {
  position: absolute;
  top: 55%;
  left: 55%;
  animation: 3s spin infinite linear;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
