@import "../base/btn-add";
@import "../base/input-search";
@import "../base/btn-down";
@import "../base/btn-refresh";
@import "../base/loading";
@import "../base/optionSelectEdit";

// employee
// author: Nguyễn Sỹ Đức Thịnh ( 29/08/2022 )
.content {
  float: right;
  width: calc(100% - 251px);
  background-color: #eee;
  &__employee {
    padding: 0 20px;
    margin-top: 15px;
    &-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      .content__employee-txt {
        font-family: "googlesans-regular";
        font-size: 20px;
      }
    }
  }
}
.employeeL {
  height: 665px;
  overflow: auto;
  padding: 0 15px;
}
#employeeList {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  border-collapse: collapse;
  border-spacing: unset;
  border: unset;
  box-sizing: border-box;
  .text-center {
    text-align: center;
    margin-right: 5px;
  }
  .text-left {
    text-align: left;
  }
}

#employeeList tbody tr:hover {
  background-color: #e0e0e0;
  color: #333;
  cursor: pointer;
}

#employeeList tr td {
  padding: 15px 0;
}
#employeeList tr tbody {
  background-color: #fff;
}
#employeeList th {
  padding-top: 12px;
  padding-bottom: 12px;
  color: #333;
  background-color: #edeef2;
}
#btn__employee-add {
  margin-right: 5px;
}
.editAction {
  color: #0075c0;
  &:hover {
    color: #fff;
  }
}
.employee__content {
  background: #fff;
  margin-top: 15px;
}

.content-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 20px;
  background-color: #eeeeee;
  .total {
    display: flex;
    align-items: center;

    &-item2 {
      font-family: "googlesans-regular";
      padding: 0 5px;
    }
  }

  .number {
    display: flex;
    align-items: center;
    position: relative;

    &-item1 {
      padding: 5px 40px 5px 10px;
      border: 1px solid #bbbbbb;
      margin-right: 30px;
    }

    &-item2 {
      color: #c3bfbf;
      margin-right: 10px;
    }

    &-item3 {
      padding: 2px 8px;
      border: 1px solid #d6d1d1;
      margin-right: 10px;
    }

    &-item4,
    &-item5,
    &-item6,
    &-item7 {
      padding: 8px;
    }

    #endtable {
      position: absolute;
      width: 10px;
      height: 10px;
      top: 13px;
      left: 180px;
      cursor: pointer;
    }
  }
}

.list-paging {
  position: absolute;
  bottom: 40px;
  background-color: #fff;
  width: 223px;
  height: 170px;
  border-radius: 4px;
  border: 1px solid #bbbbbb;
  cursor: pointer;

  .item-paging {
    padding: 10px;

    &:hover {
      background-color: #e0e0e0;
      cursor: pointer;
      color: #fff;
    }
  }
}
.list-number {
  cursor: pointer;
}

.activeBGC {
  background-color: #e0e0e0;
  color: #333;
}
